#content{
  margin-top : 50px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.linearPlot {
  overflow : auto;
}

.container {
	width : 850px;
}